/* common */
.app{
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: top;
  text-align: center;
  color: black;
  font-family: monaco, Consolas, "Lucida Console", monospace;
}

/* main container */
.register-container {
  width: 400px;
  height: 400px;
  display: inline-block;
  padding: 0px;
}

.receipt-container {
  border: solid 1px#545E75;
  border-radius: 5px;
  background-color: #545E75;
  width: 200px;
  height: fit-content;
  padding: 10px;
}
.receipt-total, .receipt-items p  {
  font-size: 16px;
  background-color: #545E75;
  color: #fff;
  text-align: right;
  /*padding: 5px;*/
  margin: 0px;
}
.receipt-total {
  border-top: solid 1px white;
}
.receipt-items p{
  padding-bottom: 3px;
}

/* total */
.total-container {
  border-bottom: solid 1px black;
}
.total{
  font-size: 32px;
  text-align: right;
  margin: 32px 16px;
}
block {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: calc(100% / 3);
  margin: 0px;
  padding: 25.6px;
  align-items: center;
  text-align: center;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
}
block[total] {
  width: calc(100%);
  height: 100px;
  cursor:none;
  border: 1px solid black;
}
block[last]{
  border-right: none;
}
block[bottom]{
  border-bottom: none
}
block:hover {
  cursor:pointer;
  background-color: #E3E8Ef;
  color: #000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
block button {
  border: none;
  background: none;
}

.border-radius {
  border-radius: 5px;
  border: solid 3px #545E75;
}

.comments {
  width: 25%;
}